.szoveg1 {
  width: 60%;
  font-size: 25px;
  text-align: center;
  text-justify: inter-word;
  color: var(--bs-body-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0 auto;
}

.szoveg2 {
  width: 60%;
  font-size: 25px;
  text-align: centered;
  color: var(--bs-body-color);
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.szoveg3 {
  width: 60%;
  font-size: 25px;
  text-align: justify;
  text-justify: inter-word;
  color: var(--bs-body-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/* body {
  background-image: url('../../assets/img/hajos5.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
} */

p {
  color: var(--bs-body-color);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  color: var(--bs-body-color);
  left: 50%;
  right: 50%;
  font-family: 'Roboto', sans-serif;
}

#hasab1 {
  width: auto;
  height: auto;
  display: inline-block;
  position: fixed;
  left: 50%;
  right: 50%;
}

#hasab2 {
  width: auto;
  height: auto;
  display: inline-block;
  position: fixed;
  left: 30%;
  right: 70%;
}

.style1 {
  color: var(--bs-body-color);
}

hr {
  border-top: 2px solid var(--bs-body-color);
}

